<div class="row">
  <div class="col-sm-12">
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12">
          <button
            type="submit"
            class="btn btn-success mr-1"
            [disabled]="!bookForm.valid"
          >
            Save
          </button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="id">Id</label>
            <input
              type="text"
              formControlName="id"
              id="id"
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              formControlName="name"
              id="name"
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="price">Price</label>
            <input
              type="text"
              formControlName="price"
              id="price"
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="des">Description</label>
            <textarea
              type="text"
              id="des"
              class="form-control"
              formControlName="des"
              rows="6"
            ></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
